<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Numans&display=swap" rel="stylesheet">
  <script defer src="https://js.stripe.com/v3/"></script>
  <script defer>
    window.STRIPE_PUBLISHABLE_KEY = 'pk_live_w80g0PV7UkWhTDrxlatCJXXt';
  </script>
  <script defer src="/js/checkout.js"></script>
  <script defer src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
  <script defer src="/js/map.js"></script>
</head>
<body>
  {% include "partials/_nav.njk" %}
  {{ content | safe }}
  {% include "partials/_footer.njk" %}
</body>
</html>
