

/* Andy Bell css reset
 https://andy-bell.co.uk/a-modern-css-reset/
*/
/* Box sizing rules */
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
   width: 100%;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* fonts */

/* Beginning custom CSS */

:root {
  --black: #101010;
  --white: #f0f0f0e2;
  --red: #A7002D;
  --blue: #00435d;
  --green: #00573F;
  --dark-grey: #272626;
  --mid-grey: #e0e0e0;

--font-h6: clamp(0.64rem, -0.25vw + 0.7rem, 0.5rem);
--font-h5: clamp(0.8rem, -0.17vw + 0.84rem, 0.71rem);
--font-base: clamp(1rem, 0vw + 1rem, 1rem);
--font-h4: clamp(1.1rem, 0.3vw + 1.1rem, 1.3rem);
--font-h3: clamp(1.56rem, 0.79vw + 1.36rem, 2rem);
--font-h2: clamp(1.95rem, 1.59vw + 1.56rem, 2.83rem);
--font-h1: clamp(2.44rem, 2.83vw + 1.73rem, 4rem);

--side_margin: .85rem;

}



body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1fr auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeSpeed;
  max-width: 100vw !important;
  width: width;
  background-color: var(--white);
  counter-reset: inline-sidenote-counter sidenote-counter;
}

h1{
  font-size: var(--font-h1);
  font-family: 'Montserrat', sans-serif;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: var(--font-h2);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1.26rem, 1vw + 1.11rem, 2.11rem);
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: var(--font-h4);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

p {
  font-size: var(--font-base);
  line-height: 1.5;
  padding-left: 0 !important;
  font-family: 'Numans', sans-serif;
  overflow-wrap: break-word;
}

h5{
  font-size: var(--font-h5);
  font-family: 'montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 42rem;
  position: relative;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.button__white {
  background-color: inherit;
  color: var(--white);
  border: #bebebe solid 1px;
  border-radius: 10px;
  padding: .5rem .85rem;
  font-size: .65rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.gsc__icon{
  width: 5rem;
}

button{
  width:fit-content;
  text-decoration: none !important;
}

.btn-black{
  margin-top: 2rem;
  /* background-color: var(--black); */
  background: linear-gradient(315deg, #0c0c0c, #0f0f0f);
  color: var(--white);
  border: none;
  padding: 0.5rem 1.5rem;
  grid-area: button;
  align-self: end;
  border-radius: 5px;
  border: 0.75px solid #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: fit-content;
  outline: 1.5px solid #4a4a4abb;
  box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
}

.btn-black:hover {
  box-shadow: inset 3px 3px 15px #1b1a1a, inset -3px -3px 15px #2b2b2b;
  transform: scale(0.98);
  background: linear-gradient(180deg, #1b1a1a 0%, #2b2b2b 100%);
}

button {
  background-color: #e7e7e7;
  color: #020202;
  border: #bebebe solid 1px;
  border-radius: 5px;
  padding: .25rem .85rem;
  font-size: .65rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: .5rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-bottom:1.5em
}
.sidenote {
  display: inline;
}

/* * */
.sidenote__button::after {
  counter-increment: inline-sidenote-counter;
  content: counter(inline-sidenote-counter) " ";
  display: inline-block;
  vertical-align:super;
  font-size: .65rem;
  font-weight: 600;
  font-family: 'montserrat', sans-serif;
  color: var(--red);
}

.sidenote__checkbox {
  display: none;
}

/* Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket) */
.sidenote__content-parenthesis {
  position: absolute;
  left: -99999px;
  top: auto;
}

/* For narrow viewports, the sidenote is hidden by default and shown when the checkbox is checked. */
@media screen and (max-width: 1079px) {

  .sidenote__checkbox~.sidenote__content {
    /* Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket) */
    position: absolute;
    left: -99999px;
    top: auto;
  }

  .sidenote__checkbox:checked~.sidenote__content {
    /* override hidden-but-accessible */
    position: relative;
    left: auto;

    /* Don't break up line containing the sidenote */
    float: left;
    min-width: 100%;

    display: block;
    margin: 0.8rem 0;
    padding: 0.8rem 1.6rem;
  }

  .sidenote__button {
    color: var(--red);
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
  }

  .sidenote__button:not(:hover):focus::after {
    display: inline;
    /* display:inline-block causes misalignment between focus ring and background. */
  }

  .sidenote__checkbox:checked~.sidenote__button::after {
    content: none;
  }
}

@media screen and (min-width: 1080px) {
  .sidenote {
    --sidenote-width: 10rem;
    --sidenote-margin: 1.8rem;
    cursor: default;
  }

  .sidenote:hover .sidenote__button::after,
  .sidenote:hover .sidenote__content::before {
    color: var(--link-color);
  }

  .sidenote__content::before {
    /* * */
    color: var(--red);
    counter-increment: sidenote-counter;
    content: counter(sidenote-counter) " ";

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    top: -4px;
    bottom: 0;
    left: -4rem;
    margin-top: 0;

    /* to align different types of asterisks we need a fixed width */
    width: 3rem;
    
 
  vertical-align:super;
  font-size: .65rem;
  font-weight: 600;
  font-family: 'montserrat', sans-serif;
  
  }

  .sidenote__content {
    display: block;
    position: absolute;
    right: 0;
    border-top: 1px dotted var(--black);
    border-bottom: 1px dotted var(--black);
    padding: 15px 0;
    

    /* Align sidenote top with main text */
    margin-top: calc(-1.5*var(--side_margin));

    margin-right: calc(-1*var(--sidenote-width) - 1*var(--sidenote-margin));
    width: var(--sidenote-width);
    font-size: .85rem;
  }
}


.full-bleed{
  box-shadow: 0 0 0 100vmax var(--dark-grey);
  clip-path: inset( 0 -100vmax);
}

img {
  border-radius: 0.65vw;
}