---
title: The Popular Struggle Coordination Committee
layout: 'base.njk'
---

<div>
<main class="container">
  <h1>Capacity building trainings</h1>
  <h4>Legal protection & safe online activism</h4>
  <figure>
  <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1687436334/pscc/capacity_building.avif" alt="Image of PSCC members holding a capacity building training." width="100%" height="auto" loading="lazy" />
  <figcaption class="caption">PSCC members holding a capacity building training. Photo: PSCC</figcaption>
</figure>
  

<p>The PSCC is providing capacity building training to students as well as youth living in the areas the most targeted by Israeli settler colonialism, in particular in the Jordan Valley, Masafer Yatta and Palestinian towns impacted by the illegal annexation project of “Greater Jerusalem”.</p>

<p>To strengthen the capacities of Palestinian youth, in particular young activists under the threat of arrest and detention due to their engagement in human rights defense activities, the training focuses on legal protection and safe online activism, covering topics according to the needs of the participants such as:</p>

<ul class="capacity_building">
  <li>Knowledge of the Israeli law and its impact on the protection and prevention of rights violations in their community; how it is used against Palestinians to arrest them and confiscate their lands and properties.</li>
  <li>Personal rights and protection during protests, detention and arrests, including civil protection strategies and evaluation, risk assessment and mitigation methodologies.</li>
  <li>Familiarization with the protection of IHL.</li>
  <li>Community protection: strategies for physical accompaniment of particularly vulnerable populations, strategy of social mobilization.</li>
  <li>Advocacy and outreach: safe use of the social media to raise awareness about human rights violations and crimes committed against Palestinians, design of communication tools for social and political advocacy.</li>
  <li>Video activism: use the audiovisual as a tool for mobilization and documentation of Israeli crimes; technical knowledge about video production, editing, recording, broadcasting. 
  </li>
</ul>





</main>


{% include 'partials/_faz3a_promotion.njk' %}

</div>

<style>

  .capacity_building{
    list-style-type:disc;
    font-family: 'montserrat', sans-serif;
    font-size: .95rem;
    font-weight: 600;
    color: var(--dark-grey);
  }

  .capacity_building li{
    margin-bottom: 1rem;
  }

  .subheading {
    font-family: inherit;
    font-size: 1.25rem;
    display: block;
    font-weight: 700;
  }

  br {
    margin-bottom: 1rem;
    display: block;
  }


 .caption {
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
  }

 

  .featured_image {
    margin-bottom: 4.5rem;
    margin-top: 2.5rem;
  }

  .main__subheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    display: block;
  }

.news__block {
  margin-top: 4rem !important;
  background-color: var(--dark-grey);
  max-width: 40rem;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  padding: 2rem .25rem;
  margin: 0 auto;
  box-shadow: 0 0 0 100vmax var(--dark-grey);
  clip-path: inset( 0 -100vmax);

}

.news__block li{
  margin-bottom: 1rem;
}

.step {
    display: none;
  }

  .step.active {
    display: block;
  }



</style>


