---
title: The Popular Struggle Coordination Committee
layout: 'base.njk'
---
<main class="container">
  <h2>We received your submission!</h2>
  <p>Thank you for your interest in taking part in the Faz3a Campaign. An organizer from the PSCC will be in contact with you shortly.</p>
</main>