---
title: The Popular Struggle Coordination Committee
layout: 'base.njk'
---

<div>
<main class="container">
  <figure>
    <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1687418603/pscc/dafa.avif" alt="PSCC volunteers working to ensure low income families have proper help to stay warm during the winter months." width="100%" height="auto" loading="lazy" />
    <figcaption class="caption">PSCC volunteers working to ensure low income families have proper help to stay warm during the winter months. Photo: PSCC</figcaption>
  </figure>
  <h1>Dafaa Campaign</h1>
  <h3>Context: the weaponization of the right to education of Bedouin communities living in ‘Area C’, another Zionist tool for forcible displacement</h3>

<p>In the West Bank, many rural communities located in ‘Area C’ are deprived of quality infrastructure and public services, especially in the field of education. While building sufficient educational facilities for all children is severely constrained by Israeli policies of denying building permits to Palestinians, the ability of the Palestinian public authorities to maintain the existing infrastructure is curtailed by the military occupation and its negative impact on freedom of movement and planning and zoning. The deprivation of public services is another tool of the Israeli settler colonial project to forcibly displace Palestinians from the rural areas where illegal settlements are spread.
</p>

<p>In the winter in particular, learning conditions are extremely difficult for children studying in schools located in ‘Area C’. Indeed, the educational facilities are lacking the adequate infrastructure to face important precipitations and sudden temperature drops, leaving children in an environment that is not dry and warm enough. In addition, children studying in ‘Area C’ are also suffering from a general lack of educational supplies and materials</p>

<h4>Supporting children’s right to education as a means to strengthen Palestinian communities’ steadfastness</h4>
<p>
Launched in 2020, the Dafa campaign (“dafaa” means “warm” in Arabic) aims to provide children living in ‘Area C’ with materials allowing them to pursue their education in better conditions. Implemented every winter, the objective of the Dafa campaign is to improve the situation in which education is provided in order to facilitate student learning, educational development being one of the means of supporting the steadfastness of Palestinian families living in rural areas.</p>

<p>Dafa launches every year a general call to individuals and organizations to donate a variety of items to help children living in rural isolated communities. The campaign collects winter shoes and boots, warm clothes and blankets, as well as educational materials such as books, notebooks and pencils. These items are gathered by PSCC-affiliated volunteers who then distribute them in the schools and communities targeted by the campaign.</p>

<p>The area of implementation of Dafa spread from the rural areas East of Ramallah and Jerusalem to the Jordan Valley. The campaign identifies “Challenges schools” where educational conditions are rendered especially difficult by the detrimental effect of the Israeli policies on the rural areas spreading from Jerusalem to the Jordanian border, which are particularly targeted by Israeli attempts at forcible displacement. In 2022, the Dafa campaign has focused on these areas, providing support to communities such as Wadi As Sider (East of Jerusalem), Ein Shibli or Ein Samiya (Jordan Valley).
</p>






</main>


<style>

  .subheading {
    font-family: inherit;
    font-size: 1.25rem;
    display: block;
    font-weight: 700;
  }

  br {
    margin-bottom: 1rem;
    display: block;
  }


 .caption {
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
  }

 

  .featured_image {
    margin-bottom: 4.5rem;
    margin-top: 2.5rem;
  }

  .main__subheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    display: block;
  }

.news__block {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
  background-color: var(--dark-grey);
  max-width: 40rem;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  padding: 2rem .25rem;
  margin: 0 auto;
  box-shadow: 0 0 0 100vmax var(--dark-grey);
  clip-path: inset( 0 -100vmax);

}

.news__block li{
  margin-bottom: 1rem;
}

.step {
    display: none;
  }

  .step.active {
    display: block;
  }



</style>

<script>
function nextStep(step) {
    var currentStep = document.getElementById("step" + (step - 1));
    var nextStep = document.getElementById("step" + step);
    
    // simple validation
    if (currentStep.querySelector('input').checkValidity()) {
      currentStep.classList.remove("active");
      nextStep.classList.add("active");
    } else {
      alert("Please fill out this field.");
    }
  }
</script>

