---
title: The Popular Struggle Coordination Committee
layout: 'base.njk'
---
<main class="container">
  <h1>Registration Form Faz3a 2023</h1>
  <h4>We need volunteers for the 2023 Campaign!</h4>
<p>Whether you would be available for some weekends or for the whole olive harvest period from October to November, you are welcome to join our activities of land defense by accompanying Palestinian farmers to their fields. </p>
<p>PSCC can support you if you are coming from outside Palestine and need help for accommodation during your stay as a Faz3a volunteer.</p>
</p>
  {% include 'partials/_faz3a_promotion.njk' %}
</main>