---
title: The Popular Struggle Coordination Committee
layout: 'base.njk'
---
<main class="container">
  <H2>Join the Faz3a Campaign</H2>
  <h3>Help resist Israeli <span class="underline">colonialism</span></h3>
  <p>The <span class="underline"><a href="/faz3a">Faz3a Campaign</a></span> is an urgent call to internationals to join Palestinians in solidarity against indigenous erasure. Join us here on the ground from October to November in some of the most vulnerable communities. Email <span class="underline">psccramallah@proton.me</span> for any questions or concerns.</p>
{% include 'partials/_faz3a_form_only.njk' %}
</main>
