---
title: The Popular Struggle Coordination Committee
layout: 'base.njk'
---

<div>
<main class="container">
  <h1>What is Faz3a?</h1>
  <h4>A popular response to settler violence and military oppression</h4>
  <img class="featured_image" src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1687949628/pscc/oliveharvest-2.avif" alt="Faz3a poster" width="100%" height="auto" loading="lazy" />

<p>In Occupied Palestine, the olive harvest season – running from the beginning of October to the end of November – is a period of crucial importance in the struggle for indigenous land preservation. In the West Bank, olive tree fields represent almost half of the agricultural land. About 100,000 families are relying on this cultivation and the olive tree is a symbol of Palestinian resistance and identity.</p>

<p>
As olive cultivation is at the root of Palestinian economy and social fabric, Palestinian farmers working in the harvest are systematically targeted by the Israeli army and settlers, who undertake physical attacks, access denial to the fields, theft of crops and destruction of trees and agricultural equipment. Israeli settlers, backed by the military, are trying to expel Palestinians from their lands, especially nearby Israeli illegal settlements. To that aim, they chop and burn olive trees, attack and harass farmer families and prevent them from accessing their fields. When Palestinian villagers go alone to their fields, they are extremely vulnerable to settler and army assaults. In 2021, 45 cases of settler violence have been documented by B’Tselem, from vandalization of trees and other properties to physical assaults resulting in Palestinian casualties or farmers being driven out and   <span class="sidenote">
  <input aria-label="Show sidenote" type="checkbox" id="sidenote__checkbox1" class="sidenote__checkbox">
  <label tabindex="0" title="{{ include.content }}" aria-describedby="sidenote" for="sidenote__checkbox1" class="sidenote__button">barred from their lands.</label>
  <small id="sidenote" class="sidenote__content">
      <span class="sidenote__content-parenthesis"> (sidenote: </span>
      B’tselem, West Bank olive harvest, 2021: Setters attack and steal olives and damage trees with full state backing, 25 January 2022, available here.
      <span class="sidenote__content-parenthesis">)</span>
  </small>
</span>


<figure>
<img src="https://res.cloudinary.com/abualex/image/upload/f_auto,fl_progressive,q_auto/v1685021721/pscc/setter_attack.avif" alt="Israeli Settler attack" width="100%" height="auto" loading="lazy" />
<figcaption class="caption" >Israeli settlers attack Palestinian farmers during the olive harvest. Photo: International Solidarity Movement</figcaption>
</figure>



<p>Beyond the critical economic losses for farmers, these obstacles to Palestinian cultivation are also part of a mechanism for colonial land grab, as the Israeli State Land policy allows for the expropriation of Palestinian farmers on land that hasn’t been cultivated for several years (State Land Policy). This colonial policy is used to seize Palestinian land and later establish Israeli settlements on it. Therefore, the continuity of the olive harvest is not only vital for the preservation of Palestinian farmers’ economic activity but is also a practice of land defense as uncultivated fields are privileged targets of the Israeli processes of land confiscation.</p>

<p>As Palestinian rural communities have witnessed an escalation in these assaults on the physical safety and agricultural activity of farmer families in recent years, Palestinian grassroots movements coordinated by the PSCC came together to launch the Faz3a campaign, an efficient peaceful protection mechanism to provide security to Palestinian farmers during the olive harvest.</p>

<h4>Faz3a campaign: aid, support, protection for Palestinian farmers throughout the olive harvest</h4>

<p>Launched in 2019, the Faz3a campaign acts as a peaceful protection mechanism for Palestinian local harvesters. Meaning ‘reinforcement’ in Arabic, Faz3a empowers, mobilizes and equips groups of Palestinian volunteers to accompany farmer families to their fields in the face of Israeli violence during the harvest. The campaign is conceived as a means of non-violent resistance and creative solidarity in the struggle against the ongoing Israeli occupation and settler colonial enterprise.</p>

<p>Each year, the PSCC undertakes the mobilization of hundreds of Palestinian volunteers coming from all over Palestine. Faz3a volunteers are trained in conflict de-escalation and receive a legal briefing. For the duration of the harvest season, hundreds of volunteers are spread among rural communities all over the West Bank, <span class="sidenote">
  <input aria-label="Show sidenote" type="checkbox" id="sidenote__checkbox2" class="sidenote__checkbox">
  <label tabindex="0" title="{{ include.content }}" aria-describedby="sidenote" for="sidenote__checkbox2" class="sidenote__button">sidenote label</label>
  <small id="sidenote" class="sidenote__content">
      <span class="sidenote__content-parenthesis"> (sidenote: </span>
      This is the sidenote. accompanying the harvesters in the fields threatened by settler violence and responding to emergency situations.
      <span class="sidenote__content-parenthesis">)</span>
  </small>
</span>
accompanying the harvesters in the fields threatened by settler violence and responding to emergency situations.</p>

<p>While accompanying farmer families to provide protection, Faz3a volunteers are also participating in olive picking.  In general, the important number of Faz3a volunteers can be deterrent enough to prevent settlers from entering Palestinian fields and undertaking mob violence. On the other hand, if settlers or soldiers decide to interrupt the harvest,  the presence of volunteers is critical in mitigating colonial harassment. Indeed, Faz3a volunteers are interposing to protect the farmer families against settler violence. In addition, they act as a further deterrent for settlers to perform harassment as they are engaging in active documentation of cases of violence. To that end, the campaign provides a number of volunteers with cameras and encourages them to thoroughly report any human right violation they witness on the ground.</p>

<p>Faz3a targets the areas that are the most threatened by Israeli settlers and military. Largely deployed in ‘Area C’, the campaign focuses on these Palestinian rural communities that are direly vulnerable to settler and army violence, in consequence of the deployment of Israeli settlements, outposts and military areas near or on the agricultural lands of these villages.</p>

<figure>
  <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,fl_progressive,q_auto/v1685024239/pscc/faz3a_olive_harvest.jpg" alt="Faz3a volunteers" width="100%" height="auto" loading="lazy" />
  <figcaption class="caption" >Faz3a volunteers during the olive harvest. Photo: PSCC</figcaption>
</figure>
<h4>Why number matters during the olive harvest?</h4>

<p>This powerful demonstration of solidarity in the face of dispossession and settlement expansion has proven to be an essential protection mechanism for many rural communities across the West Bank. Indeed, farmer families feel more confident in going to their fields to harvest as being accompanied by a great number of Faz3a volunteers acts as a deterrent for Israeli settlers who find it easier to undertake their assaults against isolated individuals. This initiative allows hundreds of farmer families to work their fields in safety and to keep defending their lands in the face of the Israeli colonial processes of indigenous dispossession.</p>

<p>Many Palestinian farmer families supported by the Faz3a campaign are suffering from the Israeli policy of prior coordination, which prevents them from entering their fields freely to perform the harvest. This policy allocates a very restricted number of picking days to these farmers, which makes it extremely difficult for them to harvest all the olive trees in their fields. The important number of volunteers mobilized by Faz3a is therefore critical in ensuring the completion of the harvest, as Faz3a members help the farmers in picking their olives more quickly. Moreover, as the harvest can be faster thanks to the great number of Faz3a volunteers, farmer families will spend less time in their fields where they are under dire threat of settler violence.</p>

</main>
<div class="news__block">
  <h3>Faz3a in the news</h3>
  <ul>
    <li><strong>Haaretz:</strong> Palestinian volunteers help olive harvesters in ways the Palestinian Authority can’t, by Amira Hass, 23 October 2020, available here: </li>
    <li><strong>New Arab:</strong> Fazaa: Protecting Palestine’s olive harvest from Israeli settler violence, by Sally Ibrahim, 18 October 2021, available here: </li>
    <li><strong>Mondoweiss:</strong> ‘It’s my land’: Beita farmers struggle to harvest olives near settler outpost, by Yumna Patel, 12 November 2021, available here: </li>
  </ul>
</div>

{% include 'partials/_faz3a_promotion.njk' %}

</div>

<style>

  .subheading {
    font-family: inherit;
    font-size: 1.25rem;
    display: block;
    font-weight: 700;
  }

  br {
    margin-bottom: 1rem;
    display: block;
  }


 .caption {
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
  }

 

  .featured_image {
    margin-bottom: 4.5rem;
    margin-top: 2.5rem;
  }

  .main__subheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    display: block;
  }

.news__block {
  margin-top: 4rem !important;
  background-color: var(--dark-grey);
  max-width: 40rem;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  padding: 2rem .25rem;
  margin: 0 auto;
  box-shadow: 0 0 0 100vmax var(--dark-grey);
  clip-path: inset( 0 -100vmax);

}

.news__block li{
  margin-bottom: 1rem;
}

.step {
    display: none;
  }

  .step.active {
    display: block;
  }



</style>

<script>
function nextStep(step) {
    var currentStep = document.getElementById("step" + (step - 1));
    var nextStep = document.getElementById("step" + step);
    
    // simple validation
    if (currentStep.querySelector('input').checkValidity()) {
      currentStep.classList.remove("active");
      nextStep.classList.add("active");
    } else {
      alert("Please fill out this field.");
    }
  }
</script>

