---
title: The Popular Struggle Coordination Committee
description: Discover community-based resistance strategies with the Popular Struggle Coordination Committee (PSCC). We champion the power of popular struggle, facilitating strikes, protests, collective actions, and legal campaigns. We also actively support the global Boycott, Divestment, and Sanctions movement. 
layout: 'base.njk'
---
{% include 'partials/_hero_header.njk' %}
{% include 'partials/_water_report.njk' %}
{% include 'partials/_news.njk' %}
{% include 'partials/_faz3a_advert.njk' %}
{% include 'partials/_three__part.njk' %}
{% include 'partials/_blog.njk' %}
{% include 'partials/_horizontal_email.njk' %}


