---
title: The Popular Struggle Coordination Committee | News
description: About 170 inhabitants were forced to leave their lands as a result of the unbearable settler violence coming from the illegal Jewish-only colony of Kohav HaShahar and the nearby illegal outpost of Moaz Esther.
layout: 'base.njk'
---

<div>
<main class="container">
  <h1>Counter the Ongoing Nakba of the Palestinian Bedouin Communities East of Ramallah</h1>
  <figure>
    <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1688096860/june_7_pscc.avif" alt="Activists bringing food items and a message of solidarity to Ras Al Tin community  © PSCC, 5th June 2023." width="100%" height="auto" loading="lazy" />
    <figcaption class="caption">Activists bringing food items and a message of solidarity to Ras Al Tin community  © PSCC, 5th June 2023
    </figcaption>
  </figure>
  

<p>Ein Samiya Bedouin community has been <a href="">ethnically cleansed on May 22nd 2023</a>. About 170 inhabitants were forced to leave their lands as a result of the unbearable settler violence coming from the illegal Jewish-only colony of Kohav HaShahar and the nearby illegal outpost of Moaz Esther. The neighboring Bedouin community of Ras Al Tin is now under the threat of the same settlers, who will pursue their violent attacks against Palestinians in the area.
</p>

<p>In response, the PSCC offered tangible support to the community. On the 5th of June, in the morning, a group of PSCC activists, in partnership with Aida Camp Youth Center, undertook an action of solidarity for the Palestinian Bedouin community of Ras Al Tin to support their steadfastness on the land. On their way to Ras Al Tin, the activists have been attacked by settlers who prevented them from accessing the community and forced them to go back. Fortunately, they were able to use another road leading to Ras Al Tin and to successfully bring their messages of solidarity and food items to the threatened community.
</p>

<p>On the 5th of June, at night, Palestinian popular struggle movements, including the PSCC, managed to access the land of Ein Samiya to foster Palestinian presence there and send a message to the settlers that Palestinian resistance will continue to fight for Ein Samiya. The Israeli Occupation Forces tried to prevent the activists from accessing Ein Samiya and threatened to fire tear gas, but the popular resistance successfully imposed Palestinian presence on the road. The nearby community of Kafr Malik has been actively engaged in this action and committed to keeping up with popular resistance actions around Ein Samiya in using the tactics of the Beita struggle such as lasers to disrupt settler activities and defend the land.</p>








</main>


<style>

  .subheading {
    font-family: inherit;
    font-size: 1.25rem;
    display: block;
    font-weight: 700;
  }

  br {
    margin-bottom: 1rem;
    display: block;
  }


 .caption {
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
  }

 

  .featured_image {
    margin-bottom: 4.5rem;
    margin-top: 2.5rem;
  }

  .main__subheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    display: block;
  }






</style>

