---
title: The Popular Struggle Coordination Committee | News
description: Saffa village announces the launch of continuous popular struggle against the illegal construction of a settler industrial zone on Palestinian land by the Israeli regime.
layout: 'base.njk'
---

<div>
<main class="container">
  <h1>Saffa village mobilizes against new Israeli industrial zone</h1>
  <figure>
    <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1688098157/saffa_featured_image.avif" alt="Protesters approaching the construction site of the Israeli settler industrial zone located on the lands of Saffa, Ramallah Governorate, West Bank, Palestine - 16th June 2023" width="100%" height="auto" loading="lazy" />
    <figcaption class="caption">Protesters approaching the construction site of the Israeli settler industrial zone located on the lands of Saffa, Ramallah Governorate, West Bank, Palestine - 16th June 2023

    </figcaption>
  </figure>

<h4>“Town Planning Scheme No. 230”: the construction of a new settlement industrial zone on the lands of Saffa</h4>

<p>The illegal settler industrial zone is announced to be built on about 318 dunums of land that are privately owned by Palestinian families from the village of Saffa. This plot of land, located south of the village, has long been threatened by Israeli settlement expansion as it was designated as “state land” by the Israeli regime in 1989 and assigned 'Area C' by the Oslo Accords.
</p>

<p>On the 21st of June 2016, the director of planning at the Israeli Ministry of Finance deposited the Town Planning Scheme (TPS) No. 230, stating the establishment of an industrial zone that will be operated by the nearby Modi’in Illit settlement bloc (ARIJ, 2016). While Saffa is the most impacted, farmer families from the nearby villages of Beit Sira and Beit Ur At Tahta will also have their lands confiscated. About three weeks ago, the Israeli authorities decided to move forward with the appropriation of this plot of land and began the construction of the industrial zone on Palestinian land.
</p>

<p>While stepping on Palestinians' land, property and socio-economic rights and negatively impacting the development of neighboring indigenous communities, the Israeli industrial zone will benefit the nearby illegal Israeli settlements located on the other side of the apartheid wall, whose establishment already resulted in the seizure of much of the lands of Saffa in the 2000s.</p>

<figure>
  <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1688098726/Maccabim_checkpoint.avif" alt="Map of illegal construction." width="100%" height="auto" loading="lazy" />
  <figcaption class="caption">While stepping on Palestinians' land, property and socio-economic rights and negatively impacting the development of neighboring indigenous communities, the Israeli industrial zone will benefit the nearby illegal Israeli settlements located on the other side of the apartheid wall, whose establishment already resulted in the seizure of much of the lands of Saffa in the 2000s. 


  </figcaption>
</figure>
 
  <h4>The Palestinian village of Saffa will stand firm against settlement expansion</h4>
    
  <p>Saffa is a Palestinian village located 18 km away from the city of Ramallah. With a population of about 4,374 people (OCHA, 2018), the village relies strongly on the exploitation of its agricultural lands through the farming of olive and fruit trees such as carob and fig. The village enjoys a high level of education, health and culture.</p>
    
  <p>In reaction to the beginning of the illegal settler construction, the popular committees joined Saffa village in the first protest held on Friday 16, June 2023. About 200 people participated in the protest that took place near and on the construction site of the illegal settler industrial zone. Demonstrators managed to reach the Caterpillar construction machines used for the construction and stand on them with Palestinian flags. The repression from the army was limited and no injuries were reported.
  </p>

  <h4>Support the Saffa struggle against colonization!</h4> 
  
<p>The Popular Struggle Coordination Committee stands in solidarity with the Saffa campaign and calls on Palestinians as well as international solidarity movements and organizations to support the land resistance of the Palestinian village of Saffa.</p>

<ul class="list">
  <li>Call for boycott and divestment #BDS from Caterpillar Inc., which supplies machines for the construction of the illegal settler industrial zone and has been providing militarized D9 bulldozers to the Israeli regime used to demolish thousands of Palestinian homes for years!</li>
  
<li>Increase the visibility of the Saffa lands struggle against colonization to counter the total impunity that the Israeli regime enjoys while advancing its rampant de facto annexation of Palestinian land designated as ‘Area C’!</li>

 <li>Pressure your governments to take positive and effective steps in line with relevant Third State obligations under international law such as the imposition of economic and diplomatic sanctions, suspending economic cooperation and ending military-security cooperation until the Israeli regime ends its illegal military occupation and colonization of Palestinian lands.</li>
</ul>

</main>


<style>

  .subheading {
    font-family: inherit;
    font-size: 1.25rem;
    display: block;
    font-weight: 700;
  }

  br {
    margin-bottom: 1rem;
    display: block;
  }


 .caption {
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
  }

 

  .featured_image {
    margin-bottom: 4.5rem;
    margin-top: 2.5rem;
  }

  .main__subheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    display: block;
  }


  .list{
    list-style-type:disc;
    font-family: 'montserrat', sans-serif;
    font-size: .95rem;
    font-weight: 600;
    color: var(--dark-grey);
  }

  .list li{
    margin-bottom: 1rem;
  }



</style>

