---
title: The Popular Struggle Coordination Committee | News
description: The right to education of 60 Palestinian children is under the threat of a demolition order against their school in Um Qussa.
layout: 'base.njk'
---

<div>
<main class="container">
  <h1>#Save Um Qussa School</h1>
  <figure>
    <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1688099643/Um_Qussa.avif" alt="Save Um Qussa School campaign grapfic" width="100%" height="auto" loading="lazy" />
    <figcaption class="caption">On the 18th of June 2023, the Israeli Civil Administration (ICA) Planning Committee issued a decision against the school of Um Qussa, giving the community seven days to execute the demolition themselves. Um Qussa school and community are at risk of forced displacement as they are located in so-called 'Area C', in Masafer Yatta, where a Firing Zone has been declared by the Occupation authorities to ethnically cleanse Palestinians living in that area.</figcaption>
  </figure>

  <p>Our beloved Um Qussa School, nestled in the breathtaking south Hebron hills near Um al-Khair village, is in grave danger! This educational oasis, built with the community's own hands in September 2021 and generously supported by international cooperation agencies, is the lifeblood of our tight-knit community of 300 families.</p>

  <p>Why is Um Qussa School so essential to us? It's simple: we wanted our children to experience education without enduring the hardships of an 8 km journey on treacherous, unpaved streets faced by constant settlers attacks from the hilltop settlers. In this arid desert, where transportation options are limited and the roads are unforgiving from settlers terrorism, we created a haven of learning right at our doorstep.</p>
  
 <p> But now, our dreams are under threat! The Israeli colonial Administration, driven by its relentless settler colonial policies, has issued a cruel demolition order. In just 96 hours, they want to destroy our symbol of education, casting a dark shadow of uncertainty over our future.</p>
  
  <p>Listen closely, for this injustice strikes at the core of our being! The colonial Israeli court, with its biased rulings, has given the green light to demolish our beloved 'Um Qussa' Mixed Elementary School. They notified us of their plans last year, and despite our efforts to fight their unjust decisions through legal channels, we were met with rejection. Demolition looms large in just 7 days!</p>
  
 <p> We refuse to surrender silently! Our school, standing on 3 dunams of land and boasting 5 classrooms, is the heart and soul of our community. Massafer Yatta, bears the brunt of the occupation's systematic agenda to displace us from our ancestral lands.</p>
  
<p>  This oppressive decision serves as a chilling reminder of the apartheid policies enacted by the occupation forces. They specifically target our schools and communities, aiming to stifle our dreams. But we won't be silenced! Education is our birthright, and we demand it be respected!</p>
  
  <p>We implore each and every one of you to join us in our fight to save Um Qussa School! Share this heartfelt message far and wide, raise your voices, and let the world bear witness to the ongoing violations committed against our children's future.</p>

  <h4>#SaveUmQussaSchool #DefendEducationRights #StopDemolitions</h4>

<p>Together, in the spirit of unity and resilience, we have the power to make a difference. Stand tall with the students, teachers, and parents of Um Qussa School. Together, let us protect their right to education, ensuring their voices reverberate far and wide!</p>

<video controls>
  <source src="https://res.cloudinary.com/abualex/video/upload/f_auto,q_auto/v1688099918/video_um_qussa.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

  

</main>


<style>

  .subheading {
    font-family: inherit;
    font-size: 1.25rem;
    display: block;
    font-weight: 700;
  }

  br {
    margin-bottom: 1rem;
    display: block;
  }


 .caption {
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
  }

 

  .featured_image {
    margin-bottom: 4.5rem;
    margin-top: 2.5rem;
  }

  .main__subheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    display: block;
  }


  .list{
    list-style-type:disc;
    font-family: 'montserrat', sans-serif;
    font-size: .95rem;
    font-weight: 600;
    color: var(--dark-grey);
  }

  .list li{
    margin-bottom: 1rem;
  }

  video{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: .5rem;
  }

</style>

