---
title: The Popular Struggle Coordination Committee
layout: 'base.njk'
---
<main class="container">
  <h1>Reports</h1>
  <h3>May 2023 – Release of Joint PSCC-NOVACT Report on Water Spring colonization in the Northern Jordan Valley – Altering on the Khirbet Ad Deir Case</h3>
  <p>Since March 2023, Israeli settlers are working on confiscating the Palestinian natural water springs of Khirbet Ad Deir, in the Northern Jordan Valley, West Bank, Palestine. While putting hundreds of households at risk of losing their means of livelihood and forcibly displacing the whole Khirbet Ad Deir community, this state-sponsored settler project is part of a larger effort to capture all the Palestinian springs of the Northern Jordan Valley since 2020, denying Palestinian access to water, advancing the colonization of Palestinian lands and the rampant Israeli annexation of the land designated as ‘Area C’.</p>
  <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1685966038/pscc/Cover_report.png" alt="Cover of the report">
  <h4>Key findings</h4>
  <ul>
    <li><p>Three Palestinian springs –Ein Al-Hilweh, Khalat al Khader and Ein Al-Sakut – were already seized by Israeli settlers in the span of three years in the Northern Jordan Valley. The capture of water springs is a three-step strategy: creating Israeli-only recreational areas around the springs; disseminating information about the new touristic spot within settler communities to entice them to come over and generate a massive Israeli presence; and then erecting barriers denying Palestinian access to the water resources.</p></li>
    <li><p>As of May 2023, settlers are halfway in the process of colonial capture of the four Palestinian springs of Khirbet Ad Deir, with daily Israeli touristic presence and stepped-up attacks and harassment of Palestinian farmers by the army and settlers targeting crops, farming infrastructure and water equipment. Human Rights Defenders keeping track of settler activity in the Northern Jordan Valley estimate that it typically takes 6 months for the appropriation of a spring to be complete.</p></li>
    <li><p>These springs are a lifeline for the agriculture of the communities of Khirbet Ad Deir and Ein Al Beida: the denial of Palestinian access to their natural water resources will threaten the livelihoods of hundreds of households. This settler-led project would bring about greater precarity among these farmer families by reducing them to a vulnerable workforce subject to the availability of employment in the area.</p></li>
    <li><p>Moreover, the land confiscations and colonial violence accompanying spring capture is putting at risk the very existence of the community of Khirbet Ad Deir, whose six families are under threat of forcible displacement. Indeed, the settler appropriation of the springs would advance the process of Palestinian land dispossession in the area, surrounding Khirbet Ad Deir by settler fields and effectively forcing them out of their lands. 
    </p></li>
    <li><p>The Israeli military is complicit in these practices by directly supporting the settlers throughout the water-grab process and by participating in denying Palestinian access to the coveted springs. Moreover, the settler organization carrying out the spring capture is supported by the Aravot HaYarden Regional Settlement Council and the Settlement Division of the World Zionist Organization – respectively a public body and an entirely governmentfunded private organization. The Israeli government involvement, thus, cannot be denied. </p></li>
    <li><p> use of colonial tourism is one of the Israeli annexation tools to take over Palestinian land, in particular in the area from the Jordan Valley to Masafer Yatta that has been designated as a large continuous ‘Area C’. The fact that settler individuals and organizations are at the forefront of many captures of land and natural resources is nothing but a grey-zone tactic for the Israeli state to assert its claim to sovereignty by setting facts on the grounds that would be more and more difficult to challenge in the future. The forcible displacement of the Palestinian people from their lands, including by depriving them of vital natural resources, is a prerequisite for the Israeli state to install its own population on the captured lands and pursue its rampant annexation of the land it designated as ‘Area C’. 
    </p></li>
    <li><p>Third States must call on the Israeli state to immediately seize its support to the settler-led capture of the Khirbet Ad Deir springs by ending army harassment of Palestinian farmers and their water infrastructures, exercising political and financial pressure on the settler organizations involved, and holding settler individuals accountable for their attacks committed against Palestinians</p>
    </li>
  </ul>
</main>

<style>
  h1 {
    margin-bottom: 3rem;
  }

  ul{
    list-style-type:disc;
  }

  img {
    margin-bottom: 3rem;
  }
</style>