---
title: The Popular Struggle Coordination Committee
layout: 'base.njk'
---
<main class="container">
  <h1>The Committees today</h1>
  <p>Since the generational transition in the PSCC decision-making bodies has taken place in early 2023, the Coordination Committee is particularly focusing on the areas that are the most targeted by the Zionist endeavor of settler colonial appropriation, Palestinian dispossession and ethnic cleansing - all the land designated as ‘Area C’, and in particular the continuous territory from the North of the Jordan Valley to the South Hebron Hills.</p>
  <p>
  While PSCC activities continue to cover the whole West Bank, in particular during annual campaigns such as Faz3a, the Committee now works particularly closely with the grassroots movements rooted in the aforementioned threatened areas: Jordan Valley Solidarity, and Youth of Sumud in Masafer Yatta.</p>
  
  <h4>Youth of Sumud</h4>
  <img class="committee__logo" src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1687980078/yos.avif" alt="Placeholder image" loading="lazy" />
  <p>
  <a href="https://youthofsumud.org">Youth of Sumud</a> is a grassroots political formation that resists Israeli settler colonialism and advocates for a free and liberated Palestine. As Masafer Yatta communities face elimination, Youth of Sumud stands in solidarity with these families that have for generations to remain on their ancestral lands. Unlike other organizations, this means that they are physically present with at-risk families when they are facing immense pressure and violence. </p>
  
  <h4>Jordan Valley Solidarity</h4>
  <img class="committee__logo" src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1687255564/jordan_valley_solidarity.avif" alt="Placeholder image" loading="lazy" />
  <p>
    <a href="https://jordanvalleysolidarity.org/">Jordan Valley Solidarity</a> campaign is a network of Palestinian grassroots community groups from all over the Jordan Valley and international supporters, whose aims are to protect Palestinian existence and the unique environment of the Jordan Valley by building international support and supporting communities on the ground.</p>
    <h4> Valley and Masafer Yatta: the settler colonial capture and ethnic cleansing of Palestinians is on its way</h4>
    <p>Jordan
Under the Oslo Accords, 60% of the West Bank has been designated as ‘Area C’. Under full Israeli military and administrative control, this area is where the Israeli system establishes its settlements and imposes a coercive environment on Palestinians to forcibly displace them from their lands. ‘Area C’ is the geographical space that is now coveted by the Israeli settler colonial system, where it pursues a process of rampant de facto annexation, removal of the indigenous population and replacement by illegal Israeli  settlers.</p><p>
While in the west of the West Bank the strips of ‘Area C’ are designed in a way that isolates Palestinian towns and cities (Areas ‘B’ and ‘A’) from each other, in the east ‘Area C’ is a continuous zone running from North to South. This continuous ‘Area C’ zone connects the Jordan Valley and Masafer Yatta with Jerusalem through the illegal Israeli annexation plan of the ‘E1’ corridor that cuts the West Bank in two. These eastern areas present many similarities: predominantly rural, they are home to Palestinian Bedouins and contain the largest grazing pastures of the West Bank. The East of the West Bank also presents great similarities in the means employed by the Zionist settler colonial system to forcibly displace Palestinians and impose de facto annexation. </p> 

</main>

<style>
  .committee__logo{
    width: 4rem;
    height: auto;
    margin: 1rem 1rem 1rem 0;
    border-radius: 0 !important;
  }

  .container p a{
    color: var(--black);
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--red);
    text-decoration-thickness: .75px;
  }
</style>