<div class="blog__horizontal">
    <ol class="blog__grid ">
      {% for post in goodshepherdcollective %}
        <li class="blog__list hover-2">
          {# <img src="{{ post.jetpack_featured_media_url }}" alt="{{ post.title.rendered }}"> #}
          <h4 class="blog__title"><a href="{{ post.link }}" target="_blank">{{ post.title.rendered }}</a></h4>
          {# <p>{{ post.excerpt.rendered | safe | truncateBySentences(1) }}</p> #}
        </li>
      {% endfor %}
    </ol>
</div>
<style>

  .blog__title{
    font-size: .9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

.blog__horizontal{
  background-color: var(--white);
  background-image: url("https://res.cloudinary.com/abualex/image/upload/v1682847300/dot.png");
  background-repeat: repeat;
  width: 100%;
  padding: 4rem;
}

.blog__grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  counter-reset: num;
  padding: 0;
  justify-content: center;
}

.blog__list {
  counter-increment: num;
  padding: 1rem;
  margin: 1.5rem !important;
  aspect-ratio: 1/1;
  width: 20vw;
  background-color: var(--white);
  outline: 0.5px solid var(--black);
  display: flex;
  flex-direction: column;
}

.blog__list h4 {
  margin-top: auto !important;
}
  
.blog__list::before {
  content: "0" counter(num);
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1024px) {
  .blog__list {
    width: 30vw;
  }
  .blog__horizontal{
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .blog__list {
    width: 80vw;
    outline: 1px solid var(--black);
  }
  .blog__horizontal{
    padding: 2rem;
  }
}

.hover-2 {
  backdrop-filter: blur(10px);
  background: 
    linear-gradient(#101010 0 0) no-repeat
     calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
  transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}
.hover-2:hover {
  --p: 100%;
  --t: .3s;
  color: #fff;
}


</style>

<script>

</script>