
<div class="faz3a__promotion">
  <div class="container white">
  <span class="CTA">Call-to-Action</span>
  <h3>Help resist Israeli <span class="underline">colonialism</span></h3>
  <p>The <span class="underline"><a href="/faz3a">Faz3a Campaign</a></span> is an urgent call to internationals to join Palestinians in solidarity against indigenous erasure. Join us here on the ground in some of the most vulnerable communities.  </p>

  <form action="/.netlify/functions/subscribe" method="post">
   
    <div >
      <input class="input__faz3a__front" type="text" id="name" name="name" placeholder="Name">
      <input class="input__faz3a__front" type="text" id="email" name="email" placeholder="Email Address">
      <input type="hidden" name="form-name" value="faz3a__front" />
      <input type="submit" class="button__faz3a" id="submit" value="SIGN UP">
    </div>
  </form>
</div>
</div>

<style>
  .white{
    background-color: var(--white);
    padding: 3rem 2rem;
  }
  .faz3a__promotion {
    background-color: var(--white);
    color: var(--black);
    padding: 4rem 4rem;
    background-image: url("https://res.cloudinary.com/abualex/image/upload/v1682847300/dot.png");
      background-repeat: repeat;
    
  } 

  .faz3a__promotion p{
    max-width: 850px;
    text-wrap: balance;
  }

  .CTA{
    font-family: 'montserrat', sans-serif;
    outline: .5px solid var(--red);
    padding: 3px 8px;
    border-radius: 5px;
    font-size: .65rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    display: inline-block;
  }

  .underline {
    text-decoration: underline;
    text-decoration-color: var(--red);
    text-underline-offset: 3px;
  }

.button__faz3a{
  background-color: var(--red);
  border: none;
  font-family: 'montserrat', sans-serif;
  font-size: .75rem;
  width: fit-content;
  color: #fff;
  height: 2rem;
  margin-top: 1.5rem;
  }
  .button__faz3a:hover{
    color: #fff;
    border: .5px solid var(--white);
    cursor: pointer;
  }
.input__faz3a__front{
  background-color: var(--white);
  border: .5px solid var(--black);
  font-family: 'montserrat', sans-serif;
  font-size: .75rem;
  width: 100%;
  max-width: 450px;
  height: 2rem;
}

.input__faz3a__front::placeholder{
  color: var(--black);
  font-family: 'montserrat', sans-serif;
  font-size: .75rem;
  font-weight: 500;
}
.input__faz3a__front:focus::placeholder{
  color: var(--black);
}
.input__faz3a__front:focus{
  outline: .5px solid var(--red);
  background-color: #fff;
  color: var(--black); 
}
</style>

<script>
  window.onload = function() {
    // select the form and attach the submit event listener
    var form = document.querySelector('form');
    form.addEventListener('submit', function(event) {
      // select the input fields
      var name = document.querySelector('#name');
      var email = document.querySelector('#email');
      var message = document.querySelector('#message');
  
      // email regex for basic email validation
      var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
  
      // check if all fields are filled out
      if (!name.value || !email.value ) {
        alert('Please fill out all fields.');
        event.preventDefault(); // prevent the form from submitting
        return;
      }
  
      // check if email is valid
      if (!emailRegex.test(email.value)) {
        alert('Please enter a valid email.');
        event.preventDefault(); // prevent the form from submitting
        return;
      }
    });
  };
  </script>