<form action="/.netlify/functions/subscribe" method="post">
  <div class="header">
     <h2>Volunteer with the PSCC</h2>
  </div>
  <div class="description">
    <p>Do you want to come to Palestine and engage with our partners on the ground? You are a journalist, a community organizer, an activist, and/or an engaged individual with skills in photography/video, advocacy, research, fundraising, or other? You have creative ideas for community protection and/or community development challenging occupation-related policies and practices? You live in Palestine and want to join our actions on the ground?</p>
  </div>
  <div >
    <input class="input" type="text" id="name" name="name" placeholder="Name">
    <input class="input" type="text" id="email" name="email" placeholder="Email Address">
    <textarea type="text" class="button" id="message" name="message" placeholder="Message"></textarea>
    <input type="submit" class="button" id="submit" value="SIGN UP">
  </div>
</form>

<style>
  .input {
    height: 2.5rem;
    width: 70%;
    font-family: 'montserrat', sans-serif;
    border: 1px solid var(--black);
    border-radius: .25vw;
    font-size: .85rem !important;
    font-weight: 500;
    padding: .5rem 1rem;
    text-transform: none;
    margin-bottom: 6px;
  }

  #submit{
    width: fit-content;
    height: 2rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    cursor: pointer;
  }

  #message{
    height: 10rem;
    width: 70%;
    border: 1px solid var(--black);
    border-radius: .25vw;
    font-family: 'montserrat', sans-serif;
    font-size: .85rem;
    font-weight: 500;
    padding: .5rem 1rem;
  }

</style>

<script>
  window.onload = function() {
    // select the form and attach the submit event listener
    var form = document.querySelector('form');
    form.addEventListener('submit', function(event) {
      // select the input fields
      var name = document.querySelector('#name');
      var email = document.querySelector('#email');
      var message = document.querySelector('#message');
  
      // email regex for basic email validation
      var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
  
      // check if all fields are filled out
      if (!name.value || !email.value || !message.value) {
        alert('Please fill out all fields.');
        event.preventDefault(); // prevent the form from submitting
        return;
      }
  
      // check if email is valid
      if (!emailRegex.test(email.value)) {
        alert('Please enter a valid email.');
        event.preventDefault(); // prevent the form from submitting
        return;
      }
    });
  };
  </script>
  