<div class="hero__header">
  <div class="hero__center">
    <h1 class="big__heading">PSCC</h1>
    <p class="second__hero__title">The <span class="underline">Popular Struggle Coordination Committee</span> is a grassroots formation coordinating nonviolent resistance across Palestine.</p>
  </div>
  <div class="pscc_history">
    <p class="pscc_history_header"><a href="/history">A History of the PSCC</a></p>
    <p><a href="/history">How generations of grassroots organizers have kept the Palestinian dream alive.</a></p>
  </div>
</div>

<style>
  .hero__small {
    font-size: var(--font-h3);
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .second__hero__title {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .hero__header {
    display: grid;
    grid-template-areas: "hero__center pscc_history";
    grid-template-columns: 3fr 1fr;
    color: var(--black);
    background-color: var(--white);
    border-top: .5px dotted var(--black);
    border-bottom: .5px dotted var(--black);
    align-items: end;
    width: 100%;
    box-sizing: border-box;
  }

  .hero__center {
    grid-area: hero__center;
    border-right: .5px dotted var(--white);
    padding: 8rem 4rem 2rem 4rem;
    align-self: end;
   
  }

  .hero__center h1 {
    font-size: clamp(4.5rem, 28vw + 1rem, 12rem);
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .big__heading {
    font-size: calc(4.5rem + 6.5vw); 
    display: block !important;
  }

  .pscc_history {
    grid-area: pscc_history;
    padding: 2rem;
    background-image: url("https://res.cloudinary.com/abualex/image/upload/v1682847300/dot.png");
    background-repeat: repeat; 
    
  }

  .pscc_history_header{
    font-size: var(--font-h3);
    font-weight: 900;
    font-family: 'montserrat', sans-serif;
  }

  .pscc_history p{
    font-weight: 700;
    font-family: 'montserrat', sans-serif;
  }

  .underline {
    text-decoration: underline;
    text-decoration-color: var(--red);
    font-weight: 700;
    text-underline-offset: 3px;
  }

  .nowrap {
    white-space: nowrap;
  }

  @media (max-width: 830.98px) {
    .hero__header {
      grid-template-areas:
        "hero__center"
        "pscc_history";
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
    }

    .hero__center, .pscc_history {
      padding: 1rem;
    }

    .pscc_history {
      padding-top: 2rem;
      justify-content: center;
      align-items: center;
      text-align: left;
    }

    .big__heading {
      font-size: 4rem;
    }

    .pscc_history_header {
      margin-bottom: .5rem;
    }
  }

  @media (max-width: 601px) {
    .hero__header {
      grid-row-gap: 0.5rem;
    }

    .hero__center, .pscc_history {
      padding: 0.5rem;
    }

    .big__heading {
      font-size: 2.5rem;
    }

    .second__hero__title {
      font-size: 1rem;
    }

    .pscc_history{
      
      text-align: left;
    }

    
  }

</style>
