
<nav>
  <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1685965296/pscc/pscc.avif" alt="PSCC Logo" class="logo">
  <ul class="nav-links" id="nav-links">
    <li><a href="/">Home</a></li>
    <li><a>About</a>
      <ul class="sub-menu">
        <li><a href="/about/">Who we are</a></li>
        <li><a href="/the_committees_today/">The committees today</a></li>
      </ul>
      <li class="mobile"><a href="/about/">&#x2022;Who we are</a></li>
        <li class="mobile"><a href="/the_committees_today/">&#x2022;The committees today</a></li>
      </li>
    <li><a href="/history/">History</a>
      
    </li>
    <li><a href="">Actions</a>
    <ul class="sub-menu">
      <li><a href="/faz3a">Faz3a</a></li>
      <li><a href="/capacity_building/">Capacity Building</a></li>
      <li><a href="/dafaa">Dafaa</a></li>
    </ul>
    <li class="mobile"><a href="/faz3a">&#x2022;Faz3a</a></li>
      <li class="mobile"><a href="/capacity_building/">&#x2022;Capacity Building</a></li>
      <li class="mobile"><a href="/dafaa">&#x2022;Dafaa</a></li>
  </li>
    <li class="border__right"><a href="/volunteer/">Get Involved</a></li>
  </ul>
  <div class="hamburger" id="hamburger">
    <img id="open" src="https://res.cloudinary.com/abualex/image/upload/v1677176428/Hamburger_icon.svg">
    <img id="close" src="https://res.cloudinary.com/abualex/image/upload/v1677176693/icons8-macos-close-30.png">
  </div>
</nav>
<style>

  .mobile{
    display: none;
    
  }

  nav {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    color: var(--black);
    border-bottom: 1px dotted var(--black);
    position: sticky;
    top: 0;
    z-index: 99999;
    height: 4.25rem;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100% !important;
    align-items: center;
  }

  nav ul li {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    border-left: 1px dotted var(--black);
    padding: .75rem 1.75rem;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
  }

  nav ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: .8rem;
    font-weight: 600;
  }

  .border__right {
    border-right: 0;
  }

  .sub-menu {
  display: none;
  position: absolute;
  top: 95%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px; /* Adjust width as necessary */
  box-sizing: border-box;
  height: auto;
  border: none;
  border-radius: 0 0 5px 5px;
  z-index: 999999 !important;
  
}


.nav-links li:hover .sub-menu {
  display: block;
}

.sub-menu li {
  margin: 0;
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  border: .5px solid var(--black);
  transition: all 0.3s ease;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: auto;
  background-color: #dddddd;
  z-index: 999999 !important;
}

.sub-menu li:hover {
  background-color: var(--white);
}


.sub-menu li a {
  color: var(--black);
  text-decoration: none;
  font-size: .75rem;
  font-weight: 400;
  
}


  .hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9999;
  }

  .hamburger img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
  }

  .hamburger img#close {
    display: none;
  }

  @media (max-width: 768px) {
    nav {
    justify-content: center;
  }
    .logo{
      display: none;
    }

    .border__right {
    border-right: 1px dotted var(--black);
  }
  }

  @media (max-width: 601px) {
    
    .border__right {
    border-right: 0;
  }
    .hamburger img {
      display: block;
    }
    
    .nav-links {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 2000;
    }

    .nav-links li {
      text-align: left;
    }

    .nav-links li a {
      display: block;
      color: var(--black);
    }

    .nav-links.active {
      display: flex;
      background-color: var(--white);
    }

    nav{
      height: 60px;
      width: 100%;
    }

    nav ul li{
      width: 100%;
      height: 60px;
      border-bottom: .75px dotted var(--black);
    }

    .mobile{
      display: block;
      padding-left: 2.5rem;
      background-color: #dddddd;
      border-bottom: .75px dotted var(--black);
      height: fit-content;
    }

    .sub-menu {
    display: none;
  }

  }

  .logo {
    height: 3.25rem;
    margin: .25rem 2rem;
  }
  
</style>

<script>
var hamburger = document.getElementById('hamburger');
var navLinks = document.getElementById('nav-links');
var openIcon = document.getElementById('open');
var closeIcon = document.getElementById('close');

window.addEventListener('resize', function() {
  if (window.innerWidth <= 601) {
    openIcon.style.display = 'block';
    closeIcon.style.display = 'none';
  } else {
    openIcon.style.display = 'none';
    closeIcon.style.display = 'none';
    navLinks.classList.remove('active');
  }
});

hamburger.addEventListener('click', function() {
  navLinks.classList.toggle('active');

  // toggle visibility of the icons
  if (navLinks.classList.contains('active')) {
    openIcon.style.display = 'none';
    closeIcon.style.display = 'block';
  } else {
    openIcon.style.display = 'block';
    closeIcon.style.display = 'none';
  }
});

navLinks.addEventListener('click', function() {
  if (window.innerWidth <= 601) {
    navLinks.classList.remove('active');
    openIcon.style.display = 'block';
    closeIcon.style.display = 'none';
  }
});
</script>
