<div class="blog__container">
  <h2>News from the ground</h2>
<div class="blog__flex">
  <div class="inner__blog__card">
    <p class="organization__name">June 5, 2023</p>
    <img class="news__img" src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1688096860/june_7_pscc.avif" alt="Activists bringing food items and a message of solidarity to Ras Al Tin community  © PSCC, 5th June 2023."/>
    <h5><a href="/june_5_2023/">Counter the Ongoing Nakba of the Palestinian Bedouin Communities East of Ramallah</a></h5>
  </div>

  <div class="inner__blog__card">
    <p class="organization__name">June 19, 2023</p>
    <img class="news__img" src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1688098157/saffa_featured_image.avif" alt="Protesters approaching the construction site of the Israeli settler industrial zone located on the lands of Saffa, Ramallah Governorate, West Bank, Palestine - 16th June 2023
    "/>
    <h5><a href="/june_19_2023/">Saffa village mobilizes against new Israeli industrial zone
    </a></h5>
  </div>
  <div class="inner__blog__card">
    <p class="organization__name">June 22, 2023</p>
    <img class="news__img" src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1688100016/Um-qassa-school.avif" alt="Good Shepherd Collective Logo"/>
    <h5><a href="/june_22_2023/">#Save Um Qussa School</a></h5>
  </div>
</div>
</div>
<style>

  .blog__container{
    padding: 2.5rem 2rem;
  }
    .blog__container h2{
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    text-decoration: underline var(--red);
    margin-bottom: 2.5rem;
  }

.blog__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .blog__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 1.5rem 1rem;
    
  }

  .organization__name{
    text-decoration: none !important;
    font-weight: 500;
    font-size: var(--font-h5);
    font-family: 'montserrat', sans-serif;
    margin-top: 1rem;
  }

  .inner__blog__card {
    flex: 0 1 calc(33.333% - 1rem); /* deduct margins */
    margin: 0.5rem; /* half of the gap */
    border: 0.5px dotted var(--black);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.69);
    box-sizing: border-box; /* include padding and border in element's total width and height */
  }

  .inner__blog__card:hover {
    background-color: rgba(255, 255, 255, 0.981);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .inner__blog__card h5 {
    font-size: var(--font-h5);
    margin-bottom: 1.15rem;
    text-decoration: dotted underline var(--red);
  }

  .inner__blog__card p {
    font-size: 0.8rem;
  }

  .inner__blog__card a {
    text-decoration: none;
  }

  

 .news__img {
    width: 100% !important;
    height: auto;
    aspect-ratio: 3/2 !important;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: .5rem !important;
  }

  .circle__outline {
    border-radius: 50% !important;
    border: .5px solid var(--black);
  }

  @media screen and (max-width: 1024px) {
    .inner__blog__card {
      flex: 0 1 calc(50% - 1rem); /* deduct margins */
    }
  }

  @media screen and (max-width: 600px) {
    .blog__container{
      padding: 2.5rem .5rem;
    }

    .blog__container h2{
      padding: 0rem .5rem;
    }
    .inner__blog__card {
      flex: 0 1 calc(100% - 1rem); /* deduct margins */
    }
  }

</style>
