<div class="program__grid">
  <div class="olive__tree video-background">
    <video autoplay loop muted playsinline poster="https://res.cloudinary.com/abualex/image/upload/v1683222236/olive_harvest.webp">
  <source src="https://res.cloudinary.com/abualex/video/upload/q_70,w_1280/v1681141989/GSC%20Website/3Iow9tO.mp4" type="video/mp4">
  <source src="https://res.cloudinary.com/abualex/video/upload/q_70,w_1280/v1681141989/GSC%20Website/3Iow9tO.webm" type="video/webm">
</video>
    <div class="overlay"></div>
    <img class="icon__img" src="https://res.cloudinary.com/abualex/image/upload/v1683039110/gsc-agricultural-protection.svg" alt="olive tree icon" role="presentation">
    <h3>Olive Tree Campaign</h3>
    <p>Israel's settler-colonial project has destroyed over 1,000,000 olive trees over the last few decades, at times destroying upwards of 10,000 trees in a single year. This is of course by design. Destroying the natural resources which support the indigenous population is a tried and true tactic deployed by other settler colonies. Learn more about the impact of Israel's program of ecocide, the impact on Palestinians, and what you can do to help us resist.</p>
    <div id="olive__buttons">
      <button class="btn-black">Join Us</button>
      <button class="btn-black" id="donate">Donate</button>
    </div>
  </div>
  <div class="NAD__data">
    <img id="report" class="icon__img" src="https://res.cloudinary.com/abualex/image/upload/v1682796076/report-white.svg" alt="report icon">
    <h3>Daily Report</h3>
    {% set latest = nadData[0] %}
    {% set summary = latest.summary %}
    <h4>{{ latest.date | date('MMMM d, yyyy') }}</h4>
    <div class="incident__type nowrap">Injuries&nbsp;    <span class="injury__data">
        {% if summary.Injuries is defined %}{{ summary.Injuries }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Physical Assaults&nbsp;    <span class="injury__data">
        {% if summary['Physical Assault'] is defined %}{{ summary['Physical Assault'] }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Detentions&nbsp;    <span class="injury__data">
        {% if summary.Detention is defined %}{{ summary.Detention }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Raids&nbsp;    <span class="injury__data">
        {% if summary.Raid is defined %}{{ summary.Raid }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Military Checkpoints&nbsp;    <span class="injury__data">
        {% if summary['Military Checkpoints'] is defined %}{{ summary['Military Checkpoints'] }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Flying Checkpoints&nbsp;    <span class="injury__data">
        {% if summary['Flying Checkpoints'] is defined %}{{ summary['Flying Checkpoints'] }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Attacks&nbsp;    <span class="injury__data">
        {% if summary.Attack is defined %}{{ summary.Attack }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Killings&nbsp;    <span class="injury__data">
        {% if summary.Killings is defined %}{{ summary.Killings }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">House Demolitions&nbsp;    <span class="injury__data">
        {% if summary['House Demolition'] is defined %}{{ summary['House Demolition'] }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Destruction of Property&nbsp;    <span class="injury__data">
        {% if summary['Destruction of Property'] is defined %}{{ summary['Destruction of Property'] }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Confiscation of Property&nbsp;    <span class="injury__data">
        {% if summary['Confiscation of Property'] is defined %}{{ summary['Confiscation of Property'] }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Closure of Main Roads&nbsp;    <span class="injury__data">
        {% if summary['Closure of main Roads'] is defined %}{{ summary['Closure of main Roads'] }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Closure of Crossing Points&nbsp;    <span class="injury__data">
        {% if summary['Closure of Crossing Points'] is defined %}{{ summary['Closure of Crossing Points'] }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Settler Attacks&nbsp;    <span class="injury__data">
        {% if summary['Settlers Attacks'] is defined %}{{ summary['Settlers Attacks'] }}
        {% else %}N/A{% endif %}</span></div>
    <div class="incident__type nowrap">Obstruction of Places of Worship&nbsp;    <span class="injury__data">
        {% if summary['Obstruction of  Places of Worship'] is defined %}{{ summary['Obstruction of  Places of Worship'] }}
        {% else %}N/A{% endif %}</span></div>
    <span class="tooltip-wrapper" title="This data is automatically aggregated from numerous reputable NGO's and governmental offices. Sign up to our email list to chose to have this data emailed to you monthly or daily.">
      <img class="info__icon" src="https://res.cloudinary.com/abualex/image/upload/v1682778432/info_circle_white.svg" alt="info on data." >
    </span>
  </div>
  <div class="defund__racism">
    <div class="inner__defund__racism">
      <img src="https://res.cloudinary.com/abualex/image/upload/v1681134194/GSC%20Website/Defund_Racism_Logo_all_red.svg">
      <h3>The Campaign to Defund Racism</h3>
      <p id="description">The Campaign to Defund Racism is a Palestinian-led movement to end the use of ‘charitable’ funds raised in the United States, Canada and elsewhere to carry out the mission of Israeli settler organizations.</p>
      <h4>The settler orgs</h4>
      <p id="settler_names">The Israel Land Fund (ILF), Ateret Cohanim, Ir David Foundation (ElAd), Regavim, and The Hebron Fund</p>
      <button class="btn-black">Join the campaign</button>
    </div>
    <div class="internship">
      <h3>Data distribution</h3>
      <p>Having access to the most recent information is essential for analysis and advocacy. Aggregating and centralizing that information so that community organizers and advocates can be fully prepared.</p>
      <button id="internship-btn" class="btn-black">Learn more</button>
    </div>

  </div>
  
    <div class="demolition__data">
      <img class="icon__img" src="https://res.cloudinary.com/abualex/image/upload/v1683045336/demolition-icon.svg" alt="demolition icon">
      <h3>Demolition data</h3>
      <h4>Year to date</h4>
      <div class="buttons-container">
        <button>All</button>
        <button>Jerusalem</button>
        <button>Tulkarm</button>
        <button>Jenin</button>
        <button>Nablus</button>
        <button>Tubas</button>
        <button>Qalqilya</button>
        <button>Salfit</button>
        <button>Ramallah</button>
        <button>Jericho</button>
        <button>Bethlehem</button>
        <button>Hebron</button>
      </div>
      <h5>Demolished Structures | 150 </h5>
      <h5>People Displaced | 150 </h5>
    </div>
  
  <div class="web__dev cursor">
    <img class="icon__img" src="https://res.cloudinary.com/abualex/image/upload/v1682794403/tech-icon-white.svg" alt="tech icon">
    <h3>Web Development</h3>
    <p>A secure and fast website is essential for local Palestinian organizers. In crisis situations, timely information is vital for mobilizing local and international supporters to win campaigns. The Good Shepherd Collective is stepping in to help local Palestinian activists and organizers build websites with the proper tools to confront Israel'sl program of indigenous erasure.</p>
  </div>

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const webDevElement = document.querySelector(".web__dev");
  const h3 = webDevElement.querySelector("h3");
  const p = webDevElement.querySelector("p");
  const elementsToAnimate = [h3, p];
  let hasAnimationStarted = false;

  function typewriterEffect(element, index, done) {
    const originalText = element.getAttribute("data-original-text");
    if (index < originalText.length) {
      element.style.visibility = "visible";
      element.innerHTML = originalText.substr(0, index + 1) + "<span class='typing-effect'></span>";
      setTimeout(() => typewriterEffect(element, index + 1, done), 60);
    } else {
      element.innerHTML = originalText;
      done();
    }
  }

  function animateElementsInView() {
    const rect = webDevElement.getBoundingClientRect();
    if (!hasAnimationStarted && rect.top >= 0 && rect.bottom <= window.innerHeight) {
      hasAnimationStarted = true;
      let i = 0;
      elementsToAnimate.forEach(element => {
        element.setAttribute("data-original-text", element.textContent);
      });

      function nextElement() {
        if (i < elementsToAnimate.length) {
          typewriterEffect(elementsToAnimate[i], 0, () => {
            i++;
            nextElement();
          });
        }
      }
      nextElement();
    }
  }

  animateElementsInView();
  window.addEventListener("scroll", animateElementsInView);
});



</script>

<style>

  .program__grid {
    display: grid;
    grid-template-areas: "oliveTree oliveTree webDev defundRacism defundRacism" "demolition NADdata NADdata defundRacism defundRacism";
    grid-gap: 0;
    width: 100%;
    background-color: #616161;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%2337342E'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='4' height='4' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23616161' cx='2' cy='2' r='2'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.05'/%3E%3C/svg%3E");
    background-attachment: fixed;
    color: var(--white);
  }

  .olive__tree {
    grid-area: oliveTree;
    border-bottom: 0.5px dotted var(--white);
    padding: 2rem;
    position: relative;
    display: grid;
    grid-template-areas: "olive-img" "olive-h3" "olive-p" "olive-button";
  }

  @keyframes scroll-left {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .olive__tree img {
    z-index: 9999 !important;
    position: relative;
    grid-area: olive-img;

  }

  .olive__tree h3 {
    z-index: 9999 !important;
    position: relative;
    grid-area: olive-h3;
  }

  .olive__tree p {
    z-index: 9999 !important;
    position: relative;
    grid-area: olive-p;
  }

  .olive__tree button {
    position: relative;
    z-index: 9999 !important;
    grid-area: olive-button;
    margin-right: 1.5rem;
    align-self: end;
    margin-bottom: 0 !important;
  }

  #olive__buttons{
    display: flex;
    justify-content: flex-end;
    grid-area: olive-button;
    margin-right: auto;

  }

  .NAD__data {
    grid-area: NADdata;
    color: var(--white);
    border-bottom: 0.5px dotted var(--white);
    border-right: 0.5px dotted var(--white);
    border-left: 0.5px dotted var(--white);
    padding: 2rem;
  }

  #report {
    width: 1.5rem;
    margin-left: 0;
    margin-bottom: 1.5rem;
  }

  .NAD__data h3 {
    margin-top: 0;
    margin-bottom: 0;

  }

  .NAD__data h4 {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .injury__data {
    background-color: var(--white);
    color: var(--red);
    padding: .55rem .75rem .55rem .65rem;
    margin-left: 0.3rem;
    border-radius: 0px 2px 2px 0px;
    box-shadow: 0 1px 0 hsla(255,255%,255%,0.05), 0 0 1px hsla(255,255%,255%,0.1), inset 0 1px 2px hsla(0,0%,0%,0.2);
    text-align: center;
    font-weight: 600;

  }

  .incident__type {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: var(--black);
    padding: 0.35rem 0rem 0.35rem 1rem;
    border-radius: 2px;
    display: inline-block;
    overflow: hidden;
    outline: 0.5px dotted var(--black);
    box-shadow: 0 1px 0 hsla(255,255%,255%,0.05), 0 0 1px hsla(255,255%,255%,0.1), inset 0 1px 2px hsla(0,0%,0%,0.2);
    margin-right: 0.5rem;
    outline: 1.5px solid #4a4a4abb;
  }

  .demolition__data {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    grid-area: demolition;
    border-bottom: 0.5px dotted var(--white);
  }

  .demolition__data img{
    margin-left: auto;
  }

  .demolition__data h3,
  h4,
  h5 {
    margin: 0;
    text-align: right;
  }


  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: flex-end;
  }

  .buttons-container button {

    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 6px;
    padding: 0.25rem .75rem 0.25rem rem;
    flex-basis: 20%;
    width: fit-content !important;
    font-size: var(--font-h6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    outline: 0.5px dotted var(--black);
    box-shadow: 0 1px 0 hsla(255,255%,255%,0.05), 0 0 1px hsla(255,255%,255%,0.1), inset 0 1px 2px hsla(0,0%,0%,0.2);
    border-radius: 2px;
    cursor: pointer;

  }

  .defund__racism {
    grid-area: defundRacism;
    border-bottom: 0.5px dotted var(--white);
    display: grid;
    grid-template-areas: "dr__child" 
                          "internship";
    align-items: end;

  }

  .internship {
  border-top: 0.5px dotted var(--white);
  width: 100%;
  margin-bottom: 0;
  border-top: 0.5px dotted var(--white);
  grid-area: internship;
  padding: 2rem;
  height: 100%;
  display: grid;
  grid-template-areas: "internTitle"
                       "internText"
                       "smily";
  
}

.internship h3 {
  grid-area: internTitle;
}

.internship p {
  grid-area: internText;
}
#internship-btn{
  grid-area: smily;
  align-self: start;
}



  .inner__defund__racism {
    grid-area: dr__child;
    padding: 2rem;
    align-self: start;
    height: 100%;
    display: grid;
    grid-template-areas: "inner__img"
                         "inner__title"
                         "description"
                         "settlerTitle"
                         "settlerOrgs"
                         "inner__button";
  }

  .inner__defund__racism img {
    width: 4rem;
    height: auto;
    margin-bottom: 2rem;
    grid-area: inner__img;
  }

  .inner__defund__racism h3 {
    text-align: left;
    grid-area: inner__title;
  }

  .inner__defund__racism h4 {
    text-align: left;
    margin-top: 2.5rem;
    grid-area: settlerTitle;
    
  }

  #description {
    grid-area: description;
  }

  .inner__defund__racism button {
    grid-area: dr__button;
    align-self: end !important;
    grid-area: inner__button;
  }

  #settler_names {
    display: inline-block;
    padding: 1rem;
    grid-area: settlerOrgs;
  }

  .email__signup {
    grid-area: emailSignup;
    padding: 2rem;
    border-bottom: 0.5px dotted var(--white);
  }

  .web__dev {
    grid-area: webDev;
    border-left: 0.5px dotted var(--white);
    border-right: 0.5px dotted var(--white);
    border-bottom: 0.5px dotted var(--white);
    padding: 2rem;
    
  }

  .web__dev button {
    margin-top: auto;
    margin-bottom: 0;
    display: block;
  }

  .icon__img{
    width: 20px !important;
    aspect-ratio: 1/1;
    margin-bottom: 1.5rem;
  }

  .web__dev button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .nowrap {
    white-space: nowrap;
  }

  .tooltip-wrapper {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .tooltip-wrapper::before {
    content: "";
    position: absolute;
    top: -15px;
    /* Increase or decrease these values to adjust the touch area around the image */
    right: -15px;
    bottom: -15px;
    left: -15px;
    z-index: -1;
  }

  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    filter: grayscale(1);
  }

  .video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #616161;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%2337342E'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='4' height='4' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23616161' cx='2' cy='2' r='2'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.05'/%3E%3C/svg%3E");
    background-attachment: fixed;
    z-index: 2;
    opacity: 0.75;
  }

  .info__icon{
    width: 18px !important;
    margin-top: 2rem;
    margin-left: auto;
  }

  .web__dev h3,
  .web__dev p {
  visibility: hidden;
}


  .typing-effect {
    visibility: visible;
    border-right: 2px solid;
    animation: typing 0.3s infinite;
  }

  @keyframes typing {
    50% {
      border-color: transparent;
    }
  }

  @media (max-width: 900px) {
    .program__grid {
      grid-template-areas:"defundRacism defundRacism" 
                          "oliveTree oliveTree"
                          "webDev webDev"
                          "demolition demolition" 
                          "NADdata NADdata";
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }

    .demolition__data h3,
  h4,
  h5 {
    margin: 0;
    text-align: left;
  }

   .buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: flex-start;
  }

  .inner__defund__racism{
    padding: 5rem 2rem;
  }

  .internship{
    border-top: 1px dotted var(--white) !important;
    padding: 5rem 2rem;
  }
  .defund__racism{
    border-bottom: 1px dotted var(--white) !important; 
  }

  .olive__tree{
    border-bottom: 1px dotted var(--white) !important; 
    padding: 5rem 2rem;
  }

  .web__dev{
    border-bottom: 1px dotted var(--white) !important; 
    padding: 5rem 2rem;
  }
  .demolition__data{
     
    padding: 5rem 2rem;
    align-items: flex-start;
  }

  .NAD__data{
    border-top: 1px dotted var(--white) !important; 
  }

  .demolition__data img{
    display: none;
  }

  .NAD__data{
    border-bottom: 1px dotted var(--white) !important; 
    padding: 5rem 2rem;
  }
  }

</style>