<div class="container">
<div class="regavim-report">
  <div class="regavim-left">
    <img src="https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto:good/v1695292147/Screenshot_2023-09-21_at_1.26.56_PM.avif">
  </div>
  <div class="regavim-right">
    <h1>Regavim</h1>
    <p>Download this critical report to learn how charitable donations from the United States, Canada and elsewhere are funding indigenous erasure. Our report highlights Regavim's questionable fundraising methods, details its organizational structure, and sheds light on its strategies to use lawfare to displace Palestinians from their properties and rights.</p>
    <a class="btn-white" href="https://defundracism.org/wp-content/uploads/2023/09/DefundRacism-Regavim.pdf" download aria-label="A link to a petition."><strong>DOWNLOAD</strong></a>
  </div>
</div>
</div>

<style>
  .btn-white{
    background-color: var(--black);
    color: var(--white);
    font-family: 'montserrat', sans-serif;
    padding: .5rem .75rem;
    border-radius: .25rem;
  }
  
  .container{
    max-width: 42rem;
  }
  .regavim-report{
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    box-shadow: 0 0 0 100vmax var(--clr-neutral-900);
    clip-path: inset(0 -100vmax);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    column-gap:  3rem;
  }

  .regavim-report img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 2.5rem;
    display: block;
    margin-top: 1.5rem;
  }

  .regavim-report h1{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .regavim-left{
    align-self: start;
  }

  .regavim-right{
    align-self: start;
  }

  /* Media query for larger screens */
  @media (min-width: 768px) {
    .regavim-report {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
