<form action="/.netlify/functions/subscribe" method="post">
  <div>
    <input class="input" type="text" id="name" name="name" placeholder="Name">
    <input class="input" type="text" id="email" name="email" placeholder="Email Address">
    <input type="hidden" name="form-name" value="email" />
    <input type="submit" class="button" id="submit" value="SIGN UP">
  </div>
</form>