<div class="three__part__grid">
  <div class="grid__one">
    <img src="">
    <h4><a href="/reports">Reports</a></h4>
  </div>
  <div class="grid__two">
    <h4>Images of resistance</h4>
  </div>
  <div class="grid__three">
    <h4>Video Gallery</h4>
  </div>
</div>

<style>
    .three__part__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "one two three";
    background-color: var(--light-grey);
    grid-gap: 2rem;
    padding: 0.5rem 2rem;
  }

  .three__part__grid > div {
    position: relative;
    aspect-ratio: 5/4;
    padding: 2.5rem 1.5rem;
    border-radius: 0.5rem;
    border: .5px solid var(--black);
  }

  .three__part__grid h4 {
    backdrop-filter: blur(2px);
    padding: 4px 8px;
    display: inline-block;
  }

  .grid__one {
    grid-area: one;
    border-right: 0.5px dotted var(--black);
    background-image: url(https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1687174533/pscc/background-1.avif);
    background-repeat: no-repeat;
    background-size: cover; 
  }

  .grid__two {
    grid-area: two;
    border-right: 0.5px dotted var(--black);
    background-image: url(https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1687173323/pscc/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .grid__three {
    grid-area: three;
    background-image: url(https://res.cloudinary.com/abualex/image/upload/f_auto,q_auto/v1687174886/pscc/background-3.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 767.98px) {
    .three__part__grid {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "one" 
        "two" 
        "three";
    }

    .grid__one, .grid__two {
      border-right: none;
    }
  }
</style>