<div class="three__part__grid">
  <div class="grid__one"><h4>Reports</h4></div>
  <div class="grid__two"><h4>Photo Gallery</h4></div>
  <div class="grid__three"><h4>Video Gallery</h4></div>
</div>

<style>
  .three__part__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "one two three";
    height: 100%;
    background-color: var(--white);
  }

  .three__part__grid div{
    padding: 2.5rem 1.5rem;
  }

  .grid__one {
    grid-area: one;
    border-right: .5px dotted var(--black);
    
  }

  .grid__two {
    grid-area: two;
    border-right: .5px dotted var(--black);
    
  }

  .grid__three {
    grid-area: three;
    
  }
</style>